body {
    background: #FDE2E4;
    background: -webkit-gradient(to right, #FDE2E4, #000000);
    background: linear-gradient(to right, #FDE2E4, #000000);
}

.todo-list {
    max-width: 400px;
    margin: 40px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.2);
    background: #CCCCCC;
    background: -webkit-gradient(to right, #e4d9d9, #4A4A4A);
    background: linear-gradient(to right, #e4d9d9, #4A4A4A)
}

.todo-list h1 {
    margin-top: 0;
    font-weight: bold;
    color: #4A4A4A;
    font-family: Arial, Helvetica, sans-serif;
}

.todo-list form {
    margin-bottom: 20px;
}

.todo-list input[type="text"] {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0 ,0, 0.1);
}

.todo-list input[type="text"]:focus {
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.2); 
}

.todo-list button[type="submit"] {
    background-color: #3A8DFF;
    color: #CCCCCC;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:  0 0 5px rgba(0, 0 ,0, 0.1);
    align-items: center;
}

.todo-list button[type="submit"]:hover {
    background-color: #1263af;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.2);
}

.todo-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    padding: 10px;
    border-bottom: 1px solid #e2d5d5;
    transition: background-color 0.2s ease;
}

.todo-list li:hover {
    background-color: #65aaaa;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list button {
    background-color: #90c1e6;
    color: #4A4A4A;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.todo-list button:hover {
    background-color: #f5f5f5;
    color: #4A4A4A;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.2);
}

.todo-list span {
    margin-right: 10px;
    color: black;
    font-weight: bold;
}

